section {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.titulo-principal{
  text-align: center;
  font-weight: 800;
  padding-top: 2%;
  text-decoration: underline;
  text-decoration-color: #FE761E;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
  font-size: 40px;
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
}



.lado-izq, .lado-der{
    display: flex;
    width: 50%;
    align-items: center;
    flex: 1 !important;
    flex-wrap: wrap;
  }
  
  .lado-der{
    background-color: #ffecd5 !important;
    justify-content: center;
  }

  .lado-izq{
    flex-direction: row;
    justify-content: center;
  }
  
.card {
    width: 50%;
    height: 60%;
    background: #FE761E ;
    border-radius: 60px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: .5s;   
  }
  
  .profileImage {
    background: #ffecd5;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
  }
  
  .textContainer {
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .name {
    font-size: 2em;
    font-weight: 600;
    color: #000C4F;
    letter-spacing: 0.5px;
    text-align: center;
  }
  
  .profile {
    font-size: 1.5em;
    color: #000C4F;
    letter-spacing: 0.2px;
    margin-top: 0px;
  }
  

  .flip-card__front{
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffecd5;
    gap: 20px;
    border-radius: 60px;
    width: 35%;
    height: 60%;
  }

  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: #FE761E;
  }
  
  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #000C4F;
    background-color: #FFF7ED;
    box-shadow: 2.5px 2.5px #000C4F;
    font-size: 15px;
    font-weight: 600;
    color: #000C4F;
    padding: 5px 10px;
    outline: none;
  }
  
  .flip-card__input::placeholder {
    color: #000C4F;
    opacity: 0.8;
  }
  
  .flip-card__input:focus {
    border: 2px solid #FE761E;
  }
  
  .flip-card__btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: 2px solid #000C4F;
    background-color: var(--bg-color);
    box-shadow: 1px 1px var(--main-color);
    font-size: 17px;
    font-weight: 800;
    color: #FE761E;
    cursor: pointer;
  } 




.btn-enviar {
    font-family: inherit;
    font-size: 20px;
    background: #FE761E;
    color: #FFF7ED;
    padding: 0.2em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    height: fit-content;
    margin-top: 30px;
  }
  
  .btn-enviar span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-enviar svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .btn-enviar:hover{
    background: #000C4F;
  }
  
  .btn-enviar:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .btn-enviar:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .btn-enviar:hover span {
    transform: translateX(5em);
  }
  
  .btn-enviar:active {
    transform: scale(0.95);
    padding-left: 35px;
  }
  
  /*Animacion para darle la apariencia de vuelo al boton*/
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .regresar{
    margin-top: 2.5%;
    margin-left: 2.5%;
  }
  
  .button1 {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button1:hover{
    background: transparent;
  }
  
  .button1:before,
  .button1:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button1:before {
    border: 3px solid #FFF7ED;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button1:after {
    border: 3px solid #000C4F;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button1:hover:before,
  .button1:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button1:hover:after,
  .button1:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button1-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button1-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #FE761E;
  }
  
  .button1:hover .button1-box,
  .button1:focus .button1-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }
  
  