<section>
    <a href="/veterinario/mis-clientes?id={{vetId1}}" class="regresar">
        <button class="button1">
            <div class="button1-box">
                <span class="button1-elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                        </path>
                    </svg>
                </span>
                <span class="button1-elem">
                    <svg viewBox="0 0 46 40">
                        <path
                            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                        </path>
                    </svg>
                </span>
            </div>
        </button>
    </a>
    <div class="lado-izq">
        <div class="contenedor-titulo">
            <h1 class="titulo-principal">Cliente</h1>
            <div class="contenedor-animacion">
                <app-animacion-persona></app-animacion-persona>
            </div>
        </div>
    </div>

    <div class="lado-der">
        <div class="flip-card__front">
            <div class="title">Registrar Cliente</div>

            <form id="form-login" class="flip-card__form">
                <ng-container *ngIf="!esActualizar">
                    <input id="id_nombre" class="flip-card__input" placeholder="Nombre" type="text" name="nombre"
                        [(ngModel)]="formCliente.nombre">
                    <input id="id_cedula" class="flip-card__input" placeholder="Cedula" type="text" name="cedula"
                        [(ngModel)]="formCliente.cedula">
                    <input id="id_correo" class="flip-card__input" placeholder="Correo" type="text" name="correo"
                        [(ngModel)]="formCliente.correo">
                    <input id="id_edad" class="flip-card__input" placeholder="Celular" type="text" name="celular"
                        [(ngModel)]="formCliente.celular">

                </ng-container>
                <ng-container *ngIf="esActualizar">
                    <input id="id_nombre" class="flip-card__input" placeholder="{{formCliente.nombre}}" type="text"
                        name="nombre" [(ngModel)]="formCliente.nombre">
                    <input id="id_cedula" class="flip-card__input" placeholder="{{formCliente.cedula}}" type="text"
                        name="cedula" [(ngModel)]="formCliente.cedula">
                    <input id="id_correo" class="flip-card__input" placeholder="{{formCliente.correo}}" type="text"
                        name="correo" [(ngModel)]="formCliente.correo">
                    <input id="id_edad" class="flip-card__input" placeholder="{{formCliente.celular}}" type="text"
                        name="celular" [(ngModel)]="formCliente.celular">
                </ng-container>



                <button class="btn-enviar" type="submit" (click)="registrarCliente(formCliente)">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Enviar</span>
                </button>
            </form>
        </div>
    </div>
</section>