<head>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/23.2.5/css/dx.material.blue.light.css" />
</head>
    <dx-chart
      [dataSource]="tratamientos"
      [size]="{
        width: chartWidth,
        height: chartHeight
        }">
      <dxi-series valueField="costo" name="Costo">
        <dxo-point [visible]="false"></dxo-point>
      </dxi-series>
      <dxo-common-series-settings
        #seriesSettings
        argumentField="fechaFin"
        [type]="types[0]"
        [color]="lineColor"
        [width]="3"
      >
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20" ></dxo-margin>
      <dxo-common-axis-settings>
        <dxo-grid [visible]="false" [color]="axisColor"></dxo-grid>
      </dxo-common-axis-settings>
      <dxo-legend verticalAlignment="top" horizontalAlignment="right" color="axisColor">
      </dxo-legend>
      <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60" >
        <dxo-label>
          <dxo-format type="decimal"></dxo-format>
        </dxo-label>
      </dxo-argument-axis>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
    </dx-chart>
    <dx-select-box
          [dataSource]="types"
          [(value)]="seriesSettings.type"
          class = "box">
  