h1 {
    text-align: left;
    font-size: 3em;
    color: #000C4F;
  }

  .dashboard-todo {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  h3 {
    color: #000C4F;
    font-size: 1.5em;
  }
  
  .usuario {
    color: #FE761E;
  }


  .contenedor-todos-datos{
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    margin-top: 5%;
  }

  .dashboard-tratamientos{
    display: flex;
    background: #FFECD5;
    width: 50%;
    margin-right: 2.5%;
  }

  .contenedor-resto-datos{
    display: flex;
    width: 40%;
    margin-left: 2.5%;
    flex-wrap: wrap;
  }

  .dashboard-mascotas-veterinarios{
    display: flex;
    background: #FFECD5;
    width: 100%;
    margin-bottom: 2.5%;
  }

  .contenedor-dos-fichas{
    display: flex;
    width: 100%;
    margin-top: 2.5%;
  }

  .dashboard-mascotas-tratamiento{
    display: flex;
    background: #FFECD5;
    width: 50%;
    margin-right: 2.5%;
  }

  .dashboard-atenciones-realizadas{
    display: flex;
    background: #FFECD5;
    width: 50%;
    margin-left: 2.5%;
  }

  .contenedor-medicamentos-data-grid{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    background: #FFECD5;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }