<section class="dashboard-todo">
  <h1>Hola, <span class="usuario">Admin</span></h1>
  <h3>Estos son los datos de tu veterinaria</h3>
  <div class="contenedor-todos-datos">
    <div class="contenedor-fila1">
      <div class="contenedor-ventas-tot">
        <h3 class="title-dashboard">
          <span class="usuario">VENTAS</span> TOTALES
        </h3>
        <div class="dinero">${{ ventasTotRound }}</div>
      </div>
      <div class="contenedor-ganancias">
        <h3 class="title-dashboard">
          <span class="usuario">GANANCIAS</span> TOTALES
        </h3>
        <div class="dinero">${{ gananciasTotRound }}</div>
      </div>
      <div class="contenedor-top">
        <h3 class="title-dashboard">
          <span class="usuario">TOP</span> MEDICAMENTOS
        </h3>
        <dx-chart id="chart-top" [dataSource]="topVendidos">
          <dxi-series
            argumentField="nombre"
            valueField="top"
            type="bar"
            color="#FFECD5"
          >
          </dxi-series>
          <dxo-commonAxisSettings [visible]="false"></dxo-commonAxisSettings>
          <dxo-legend [visible]="false"></dxo-legend>
          <dxo-tooltip [enabled]="false"></dxo-tooltip>
          <dxo-value-axis [visible]="false">
            <dxo-grid [visible]="false"></dxo-grid>
            <dxo-label [visible]="false"></dxo-label>
            <dxo-baseValue [visible]="false"></dxo-baseValue>
            <dxo-stripStyle [visible]="false"></dxo-stripStyle>
          </dxo-value-axis>
          <dxo-argument-axis [visible]="false">
            <dxo-minorGrid [visible]="false"></dxo-minorGrid>
          </dxo-argument-axis>
          <dxo-common-annotation-settings
            type="custom"
            series="Top"
            template="template"
            [allowDragging]="true"
          >
          </dxo-common-annotation-settings>
          <dxo-legend [visible]="false"></dxo-legend>
          <dxi-annotation
            *ngFor="let data of topVendidos"
            [data]="data"
            [argument]="data.nombre"
            [color]="'#FFECD5'"
            [opacity]="0"
            [border]="0"
          >
          </dxi-annotation>
          <svg *dxTemplate="let annotation of 'template'" class="annotation">
            <image
              attr.href="{{ annotation.data.imagen }}"
              width="60"
              height="50"
            />
            <text
              x="30"
              y="60"
              text-anchor="middle"
              class="state"
              fill="#000c4f"
            >
              {{ annotation.data.nombre }}
            </text>
          </svg>
        </dx-chart>
      </div>
    </div>

    <div class="contenedor-fila2">
      <div class="contenedor-tratXmed">
        <h3><span class="usuario">Estado</span> Veterinarios</h3>
        <dx-pie-chart
          id="pie"
          palette="bright"
          [dataSource]="vets"
          (onPointClick)="pointClickHandler($event)"
          (onLegendClick)="legendClickHandler($event)"
        >
          <dxi-series argumentField="estado" valueField="cantidad">
            <dxo-label [visible]="true">
              <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
            </dxo-label>
          </dxi-series>
          <dxo-legend
          verticalAlignment="top"
          horizontalAlignment="left"
          itemTextPosition="right"
          [rowCount]="4"
        >
        </dxo-legend>
          <dxo-size [width]="500"></dxo-size>
          <dxo-export [enabled]="true" id="btn-export-pie"></dxo-export>
        </dx-pie-chart>
      </div>
      <div class="contenedor-pie-chart">
        <h3>Tratamientos<span class="usuario"> X </span>Medicamento</h3>
        <dx-chart id="chart" [dataSource]="medXenfer">
            <dxi-series
              argumentField="nombre"
              valueField="cantidad"
              name="Medicamento"
              type="bar"
              color="#FFECD5"
            >
            </dxi-series>
          </dx-chart>
      </div>
    </div>

    <div class="contenedor-fila3">
      <div class="contenedor-total-tratamientos">
        <h3 class="title-dashboard">
          <span class="usuario">TRATAMIENTOS</span> TOTALES
        </h3>
        <div class="mascotas-trat">{{ atenReal }}</div>
      </div>
      <div class="contenedor-cant-mascotas">
        <h3 class="title-dashboard">
          <span class="usuario">MASCOTAS</span> TOTALES
        </h3>
        <div class="mascotas-trat">{{ mascotasTot }}</div>
      </div>
      <div class="contenedor-cant-mascotas-act">
        <h3 class="title-dashboard">
          <span class="usuario">MASCOTAS</span> ACTIVAS
        </h3>
        <div class="mascotas-trat">{{ mascotasAct }}</div>
      </div>
    </div>
  </div>
</section>
