<section class="dashboard-todo">
    <h1>
        Hola, <span class="usuario">Admin</span>
    </h1>
    <h3>Estos son los datos de tu veterinaria</h3>


    <div class="contenedor-todos-datos">
        <div class="dashboard-tratamientos">
            <app-tratamientos-chart></app-tratamientos-chart>
        </div>

        <div class="contenedor-resto-datos">
            <div class="dashboard-mascotas-veterinarios">

            </div>

            <div class="contenedor-dos-fichas">
                <div class="dashboard-mascotas-tratamiento">

                </div>

                <div class="dashboard-atenciones-realizadas">

                </div>
            </div>

        </div>

    </div>

    <div class="contenedor-medicamentos-data-grid dx-viewport">
        <app-medicamentos-data-grid></app-medicamentos-data-grid>
    </div>

</section>
