<ng-container *ngIf="tipoUsuario === 'veterinario'">
    <div class="sidebar">
        <ul>
            <li class="logo">
                    <div class="icon">
                        <img src="../../../assets/images/logov2.png" alt="logo" width="100px">
                        <div class="contenido-encabezado-logo">
                            <h3>VetLove</h3>
                            <p>Hospital de Animales</p>
                        </div>
                    </div>
            </li>
            <div class="menu-list"> 
                <li [ngClass] = "(ruta == '/veterinario/mis-mascotas')? 'active' : ''">
                    <a href="/veterinario/mis-mascotas?id={{id}}">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><path fill="currentColor" d="M11.9 8.4c1.3 0 2.1-1.9 2.1-3.1c0-1-.5-2.2-1.5-2.2c-1.3 0-2.1 1.9-2.1 3.1c0 1 .5 2.2 1.5 2.2m-3.8 0c1 0 1.5-1.2 1.5-2.2C9.6 4.9 8.8 3 7.5 3C6.5 3 6 4.2 6 5.2c-.1 1.3.7 3.2 2.1 3.2m7.4-1c-1.3 0-2.2 1.8-2.2 3.1c0 .9.4 1.8 1.3 1.8c1.3 0 2.2-1.8 2.2-3.1c0-.9-.5-1.8-1.3-1.8m-8.7 3.1c0-1.3-1-3.1-2.2-3.1c-.9 0-1.3.9-1.3 1.8c0 1.3 1 3.1 2.2 3.1c.9 0 1.3-.9 1.3-1.8m3.2-.2c-2 0-4.7 3.2-4.7 5.4c0 1 .7 1.3 1.5 1.3c1.2 0 2.1-.8 3.2-.8c1 0 1.9.8 3 .8c.8 0 1.7-.2 1.7-1.3c0-2.2-2.7-5.4-4.7-5.4"/></svg></div>
                            <div class="text">MIS MASCOTAS</div>
                        </div>
                    </a>
                </li>
                <li [ngClass] = "(ruta == '/veterinario/mis-tratamientos')? 'active' : ''">
                    <a href="/veterinario/mis-tratamientos?id={{id}}" class="mis-tratamientos">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="M10.5 17.5h3V15H16v-3h-2.5V9.5h-3V12H8v3h2.5zM5 21V6h14v15zM6 5V3h12v2z"/></svg></div>
                            <div class="text">TRATAMIENTOS</div>
                        </div>
                    </a>
                </li>
    
                <li [ngClass] = "(ruta == '/veterinario/mis-clientes')? 'active' : ''">
                    <a href="/veterinario/mis-clientes?id={{id}}">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M16 14a5 5 0 0 1 4.995 4.783L21 19v1a2 2 0 0 1-1.85 1.995L19 22H5a2 2 0 0 1-1.995-1.85L3 20v-1a5 5 0 0 1 4.783-4.995L8 14zM12 2a5 5 0 1 1 0 10a5 5 0 0 1 0-10"/></g></svg></div>
                            <div class="text">MIS CLIENTES</div>
                        </div>
                    </a>
                </li>
    
                <li [ngClass] = "(ruta == '/veterinario/mi-perfil')? 'active' : ''">
                    <a href="/veterinario/mi-perfil?id={{id}}">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15"><path fill="currentColor" d="M5.5 7A2.5 2.5 0 0 1 3 4.5v-2a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v2a3.49 3.49 0 0 0 1.51 2.87A4.41 4.41 0 0 1 5 10.5a3.5 3.5 0 1 0 7 0v-.57a2 2 0 1 0-1 0v.57a2.5 2.5 0 0 1-5 0a4.41 4.41 0 0 1 1.5-3.13A3.49 3.49 0 0 0 9 4.5v-2A1.5 1.5 0 0 0 7.5 1H7a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v2A2.5 2.5 0 0 1 5.5 7m6 2a1 1 0 1 1 0-2a1 1 0 0 1 0 2"/></svg></div>
                            <div class="text">PERFIL</div>
                        </div>
                    </a>
                </li>
            </div>
            <div class="bottom">
                <li>    
                    <a href="#">
                        <div class="icon"></div>
                        <div class="imgBx">
    
                        </div>
                    </a>
                </li>
                <li>    
                    <a href="/">
                        <div class="contenedor-bot">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-linejoin="round" d="m15.667 8l2.083 2.5L15.667 8Zm0 5l2.083-2.5l-2.083 2.5Z" clip-rule="evenodd"/><path d="M16.5 10.5H10m-6-7h9m-9 14h9m0-14v4m0 6v4m-9-14v14"/></g></svg></div>
                            <div class="text">CERRAR SESIÓN</div>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="tipoUsuario === 'cliente'">
    <div class="sidebar">
        <ul>
            <li class="logo">
                    <div class="icon">
                        <img src="../../../assets/images/logov2.png" alt="logo" width="100px">
                        <div class="contenido-encabezado-logo">
                            <h3>VetLove</h3>
                            <p>Hospital de Animales</p>
                        </div>
                    </div>
            </li>
            <div class="menu-list"> 
                <li [ngClass] = "(ruta == '/cliente/mis-mascotas')? 'active' : ''">
                    <a href="/cliente/mis-mascotas?id={{id}}">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><path fill="currentColor" d="M11.9 8.4c1.3 0 2.1-1.9 2.1-3.1c0-1-.5-2.2-1.5-2.2c-1.3 0-2.1 1.9-2.1 3.1c0 1 .5 2.2 1.5 2.2m-3.8 0c1 0 1.5-1.2 1.5-2.2C9.6 4.9 8.8 3 7.5 3C6.5 3 6 4.2 6 5.2c-.1 1.3.7 3.2 2.1 3.2m7.4-1c-1.3 0-2.2 1.8-2.2 3.1c0 .9.4 1.8 1.3 1.8c1.3 0 2.2-1.8 2.2-3.1c0-.9-.5-1.8-1.3-1.8m-8.7 3.1c0-1.3-1-3.1-2.2-3.1c-.9 0-1.3.9-1.3 1.8c0 1.3 1 3.1 2.2 3.1c.9 0 1.3-.9 1.3-1.8m3.2-.2c-2 0-4.7 3.2-4.7 5.4c0 1 .7 1.3 1.5 1.3c1.2 0 2.1-.8 3.2-.8c1 0 1.9.8 3 .8c.8 0 1.7-.2 1.7-1.3c0-2.2-2.7-5.4-4.7-5.4"/></svg></div>
                            <div class="text">MIS MASCOTAS</div>
                        </div>
                    </a>
                </li>
    
                <li [ngClass] = "(ruta == '/cliente/mi-perfil')? 'active' : ''">
                    <a href="/cliente/mi-perfil?id={{id}}">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15"><path fill="currentColor" d="M5.5 7A2.5 2.5 0 0 1 3 4.5v-2a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v2a3.49 3.49 0 0 0 1.51 2.87A4.41 4.41 0 0 1 5 10.5a3.5 3.5 0 1 0 7 0v-.57a2 2 0 1 0-1 0v.57a2.5 2.5 0 0 1-5 0a4.41 4.41 0 0 1 1.5-3.13A3.49 3.49 0 0 0 9 4.5v-2A1.5 1.5 0 0 0 7.5 1H7a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v2A2.5 2.5 0 0 1 5.5 7m6 2a1 1 0 1 1 0-2a1 1 0 0 1 0 2"/></svg></div>
                            <div class="text">PERFIL</div>
                        </div>
                    </a>
                </li>
            </div>
            <div class="bottom">
                <li>    
                    <a href="#">
                        <div class="icon"></div>
                        <div class="imgBx">
    
                        </div>
                    </a>
                </li>
                <li>    
                    <a href="/">
                        <div class="contenedor-bot">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-linejoin="round" d="m15.667 8l2.083 2.5L15.667 8Zm0 5l2.083-2.5l-2.083 2.5Z" clip-rule="evenodd"/><path d="M16.5 10.5H10m-6-7h9m-9 14h9m0-14v4m0 6v4m-9-14v14"/></g></svg></div>
                            <div class="text">CERRAR SESIÓN</div>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="tipoUsuario === 'admin'">
    <div class="sidebar">
        <ul>
            <li class="logo">
                    <div class="icon">
                        <img src="../../../assets/images/logov2.png" alt="logo" width="100px">
                        <div class="contenido-encabezado-logo">
                            <h3>VetLove</h3>
                            <p>Hospital de Animales</p>
                        </div>
                    </div>
            </li>
            <div class="menu-list"> 
                <li [ngClass] = "(ruta == '/admin/dashboard')? 'active' : ''">
                    <a href="/admin/dashboard">
                        <div class="contenedor-li">
                            <div class="icon icon-dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24"><path fill="currentColor" d="M6 13H2c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h4c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1m16-4h-4c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V10c0-.6-.4-1-1-1m-8-8h-4c-.6 0-1 .4-1 1v20c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1"/></svg></div>
                            <div class="text">DASHBOARD</div>
                        </div>
                    </a>
                </li>
                <li [ngClass] = "(ruta == '/admin/mis-veterinarios')? 'active' : ''">
                    <a href="/admin/mis-veterinarios">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15"><path fill="currentColor" d="M5.5 7A2.5 2.5 0 0 1 3 4.5v-2a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v2a3.49 3.49 0 0 0 1.51 2.87A4.41 4.41 0 0 1 5 10.5a3.5 3.5 0 1 0 7 0v-.57a2 2 0 1 0-1 0v.57a2.5 2.5 0 0 1-5 0a4.41 4.41 0 0 1 1.5-3.13A3.49 3.49 0 0 0 9 4.5v-2A1.5 1.5 0 0 0 7.5 1H7a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v2A2.5 2.5 0 0 1 5.5 7m6 2a1 1 0 1 1 0-2a1 1 0 0 1 0 2"/></svg></div>
                            <div class="text">VETERINARIOS</div>
                        </div>
                    </a>
                </li>
    
                <li [ngClass] = "(ruta == '/admin/mi-perfil')? 'active' : ''">
                    <a href="/admin/mi-perfil">
                        <div class="contenedor-li">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><path fill="currentColor" d="M10 9.25c-2.27 0-2.73-3.44-2.73-3.44C7 4.02 7.82 2 9.97 2c2.16 0 2.98 2.02 2.71 3.81c0 0-.41 3.44-2.68 3.44m0 2.57L12.72 10c2.39 0 4.52 2.33 4.52 4.53v2.49s-3.65 1.13-7.24 1.13c-3.65 0-7.24-1.13-7.24-1.13v-2.49c0-2.25 1.94-4.48 4.47-4.48z"/></svg></div>
                            <div class="text">MI PERFIL</div>
                        </div>
                    </a>
                </li>
            </div>
            <div class="bottom">
                <li>    
                    <a href="#">
                        <div class="icon"></div>
                        <div class="imgBx">
    
                        </div>
                    </a>
                </li>
                <li>    
                    <a href="/">
                        <div class="contenedor-bot">
                            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-linejoin="round" d="m15.667 8l2.083 2.5L15.667 8Zm0 5l2.083-2.5l-2.083 2.5Z" clip-rule="evenodd"/><path d="M16.5 10.5H10m-6-7h9m-9 14h9m0-14v4m0 6v4m-9-14v14"/></g></svg></div>
                            <div class="text">CERRAR SESIÓN</div>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</ng-container>