    <a href="/cliente/mis-mascotas?id={{cliId1}}" class="regresar">
        <button class="button1">
          <div class="button1-box">
            <span class="button1-elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
            <span class="button1-elem">
              <svg viewBox="0 0 46 40">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
          </div>
        </button>
      </a>
    <!--Contenido de la página-->
    <section id="seccion--info-mascotas">
        <div id="left">
            <div id="top">
                <div class="contenedor-imagen">
                    <img class="imagen-mascota" src="{{mascota.foto}}">
                </div>
            </div>
            <div id="bottom">
                <h1>Datos {{mascota.nombre}}</h1>
                <table id="tabla-mascotas-up" class="tabla-mascotas">
                    <tbody>
                        <tr class="color-row">
                            <td class="row-data-1">Edad: {{mascota.edad}}</td>
                            <td class="row-data-1">Raza: {{mascota.raza}}</td>
                            <td >Peso: {{mascota.peso}}</td>
                        </tr>
                    </tbody>
                </table>
                <table id="tabla-mascotas-down" class="tabla-mascotas">
                    <tbody>
                        <tr class="color-row-temp">
                            <td class="row-data-3" >Enfermedad: </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="right">
            <table id="tabla-tratamiento-up" class="tabla-mascotas">
                <thead>
                    <tr class="color-row">
                        <th>Tratamiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="color-row">
                        <td><span class="resaltado">Nombre:</span><br>Tratamiento XYZ</td>
                    </tr>
                    <tr class="color-row">
                        <td><span class="resaltado">Veterinario:</span><br>Pepe Opera</td>
                    </tr>
                    <tr class="color-row">
                        <td><span class="resaltado">Medicamento:</span><br>Ceftriaxona<br>sildenafilo</td>
                    </tr>
                </tbody>
            </table>
            <table id="tabla-tratamiento-down" class="tabla-mascotas">
                <tbody>
                    <tr class="color-row-temp">
                        <td><span class="resaltado">Fecha inicio:</span><br>19/01/2024</td>
                        <td><span class="resaltado">Fecha fin:</span><br>26/01/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


