/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
} 

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}

h1{
    font-size: 32px;
    font-weight: 600;
    color: #000C4F;
}

button:hover{
    background-color: #000C4F;
    color: #ffecd5;
    cursor: pointer;
}