<!-- Cuando es Veterinario -->
<ng-container *ngIf="ruta.includes('/veterinario')">
    <app-sidebar  [tipoUsuario]="'veterinario'"></app-sidebar>
</ng-container>
<ng-container *ngIf="ruta == '/veterinario/mis-mascotas' || ruta == '/veterinario'">
    <app-mis-mascotas [tipoUsuario]="'veterinario'"></app-mis-mascotas>
</ng-container>
<ng-container *ngIf="ruta == '/veterinario/mis-tratamientos'">
    <app-mis-tratamientos></app-mis-tratamientos>
</ng-container>
<ng-container *ngIf="ruta == '/veterinario/mis-clientes'">
    <app-mis-clientes></app-mis-clientes>
</ng-container>
<ng-container *ngIf="ruta == '/veterinario/mi-perfil'">
    <app-mi-perfil [tipoUsuario]="'veterinario'"></app-mi-perfil>
</ng-container>


<!-- Contenido para el cliente -->
<ng-container *ngIf="ruta.includes('/cliente')">
    <app-sidebar  [tipoUsuario]="'cliente'"></app-sidebar>
</ng-container>
<ng-container *ngIf="ruta == '/cliente/mis-mascotas'">
    <app-mis-mascotas [tipoUsuario]="'cliente'"></app-mis-mascotas>
</ng-container>
<ng-container *ngIf="ruta == '/cliente/mi-perfil'">
    <app-mi-perfil [tipoUsuario]="'cliente'"></app-mi-perfil>
</ng-container>
